.title {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 270px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    margin: 20px auto 0;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

.daily-item {
    display: flex;
    align-items: center;
    max-width: 270px;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    margin: 5px auto 0;
    padding: 10px 20px;
    font-size: 12px;
}

.icon-small {
    width: 50px;
}

.day {
    flex: 1 1;
    font-weight: 600;
    margin-left: 3px;
}

.description {
    flex: 1 1;
    text-align: left;
    margin-left: 5px;
}

.min-max {
    flex: 1 1;
    text-align: right;
}