.weather {
    max-width: 270px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    margin: 5px auto 0;
    padding: 0 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-top: 3px;
    letter-spacing: 1px;
}

.temperature {
    font-weight: 600;
    font-size: 50px;
    width: auto;
    letter-spacing: -3px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    font-weight: 600;
    font-size: 12px;
}

.parameter-label.top {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
}